@model IEnumerable<string>

<!--Emma Haynes 3-10-21-->

<a class="btn btn-block btn-outline-dark" asp-action="Index" asp-controller="Home"
   asp-route-category="">Home</a>

@foreach (string category in Model)
{
    <a class="btn btn-block
       @(category == ViewBag.SelectedType ? "btn-primary" : "btn-outline-dark")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-category="@category"
       asp-route-pageNum="1"> <!--Remember that page can not be used! Updated all "page" references to pageNum-->
        @category
    </a>
}